@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&family=Pixelify+Sans&display=swap');
@import url('https://fonts.google.com/specimen/Zilla+Slab');

:root{
    --french-gray: #D2D2DAff;
    --ash-gray: #9FBFB7ff;
    --reseda-green: #8D8B70ff;
    --jet: #464241ff;
    --raisin-black: #382F39ff;
}
html {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

    *,
    *::before,
    *::after {
        -webkit-box-sizing: inherit;
           -moz-box-sizing: inherit;
                box-sizing: inherit;
    }

legend {
    padding: 0;
    display: table;
}

fieldset {
    border: 0;
    padding: 0.01em 0 0 0;
    margin: 0;
    min-width: 0;
}

body:not(:-moz-handler-blocked) fieldset {
    display: table-cell;
}

.whole-container{
    display: flex;
    justify-content: flex-start;
}

.left-container{
    background-image: url('../img/bg-image-2.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    flex-shrink: .6;
    height: 100svh;
    width: clamp(36rem, 80rem, 100%);
}

.right-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex-shrink: 1;
    justify-content: center;
    gap: 50px;
}

.form-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.input-group {
    flex: 0 0 calc(35% - 5px);
    display: flex;
    flex-direction: column;
}

.input-group label,
.input-group input,
.input-group select {
    width: 80%;
}